<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{format_name user.name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  {{#if user.posts.length}}
  <div class="col-md-6 post-list">
    <h3>Current posts:</h3>

    {{#each user.posts as |post|}}
    <div class="row mb-2 {{!--postContainer--}}">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-secondary postUpdate {{!--display-none--}}" id="{{post.id}}">UPDATE</button>
        <button class="btn btn-sm btn-danger postRemove {{!--display-none--}}" id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <h3>No posts to show yet!</h3>
  {{/if}}
    <div class="form-group">
      <button id="newPost" class="btn btn-primary">New Post</button>
    </div>

    <form class="form new-post-form display-none">
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-input" type="text" id="title" name="title" />
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-input" id="content" name="content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
</div>

<script src="/js/dashboard.js"></script>

{{!-- when clicked need to have option for update and delete --}}
{{!-- then rerender the page  --}}