{{#if posts.length}}
{{#each posts as |post|}}
  <a href="./post/{{post.id}}"><h1>{{post.title}}</h1></a>
  <h3>Posted by {{post.user.username}} on {{format_date post.date_created}}</h3>
  {{!-- <p>{{post.content}} </p> --}}
{{/each}}
{{else}}
<h3>No posts to show yet!</h3>
{{/if}}