<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>
<body>
    {{#each posts as |post|}}
      <a href="./{{post.id}}"><h1>{{post.title}}</h1></a>
      <h3>Posted by {{post.user.username}} on {{post.created_at}}</h3>
      <p>{{post.content}} </p>

      {{#each comments as |comment|}}
      <p>{{comment.content}} - {{comments.user.username}}</p>
      {{/each}}
    {{/each}}
</body>
</html>