<h1>{{post.title}}</h1>
<h4>Posted by {{post.user.username}} on {{format_date post.date_created}}</h4>
<p>{{post.content}} </p>

<h4>Comments:</h4>
{{#each post.comments as |comment|}}
<p>{{comment.content}} - <i>{{comment.user.username}}</i></p>
{{/each}}
{{#if logged_in}}
<button>Leave a comment</button>
{{/if}}

