<h1>{{post.title}}</h1>
<h4>Posted by {{post.user.username}} on {{format_date post.date_created}}</h4>
<p>{{post.content}} </p>

<h4>Comments:</h4>
{{#each post.comments as |comment|}}
<p>{{comment.content}} - <i>{{comment.user.username}}</i></p>
{{/each}}
{{#if logged_in}}
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Leave a comment..." aria-label="commentBox" aria-describedby="basic-addon2" id="content">
  <div class="input-group-append">
    <button class="btn btn-outline-primary" type="button" data-id="{{post.id}}">Post</button>
  </div>
</div>
{{/if}}

<script src="/js/comment.js"></script>